In [1]:
import pandas as pd
df=pd.read_csv(r"/content/Advertising.csv")
print(df)

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [2]:
print(df.head(15)) #top rows
print(df.tail(15))   #bottom rows

    Unnamed: 0     TV  Radio  Newspaper  Sales
0            1  230.1   37.8       69.2   22.1
1            2   44.5   39.3       45.1   10.4
2            3   17.2   45.9       69.3    9.3
3            4  151.5   41.3       58.5   18.5
4            5  180.8   10.8       58.4   12.9
5            6    8.7   48.9       75.0    7.2
6            7   57.5   32.8       23.5   11.8
7            8  120.2   19.6       11.6   13.2
8            9    8.6    2.1        1.0    4.8
9           10  199.8    2.6       21.2   10.6
10          11   66.1    5.8       24.2    8.6
11          12  214.7   24.0        4.0   17.4
12          13   23.8   35.1       65.9    9.2
13          14   97.5    7.6        7.2    9.7
14          15  204.1   32.9       46.0   19.0
     Unnamed: 0     TV  Radio  Newspaper  Sales
185         186  205.0   45.1       19.6   22.6
186         187  139.5    2.1       26.6   10.3
187         188  191.1   28.7       18.2   17.3
188         189  286.0   13.9        3.7   15.9
189         190   18.7   12.1       23.4    6.7
190         191   39.5   41.1        5.8   10.8
191         192   75.5   10.8        6.0    9.9
192         193   17.2    4.1       31.6    5.9
193         194  166.8   42.0        3.6   19.6
194         195  149.7   35.6        6.0   17.3
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [3]:
print(df.info())  #quick way to look datatypes,missing values,data size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB
None

In [4]:
print(df.shape)   #no.of rows and columns
print(df.shape[0])  #no.of rows
print(df.shape[1])  #no.of columns

(200, 5)
200
5

In [5]:
print(df.columns)   #column names
print(list(df.columns))   #convert to list

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')
['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales']

In [6]:
#checking for missing values
print(df.isnull().head(10))
print(df.isna().sum())   #null values & adding

   Unnamed: 0     TV  Radio  Newspaper  Sales
0       False  False  False      False  False
1       False  False  False      False  False
2       False  False  False      False  False
3       False  False  False      False  False
4       False  False  False      False  False
5       False  False  False      False  False
6       False  False  False      False  False
7       False  False  False      False  False
8       False  False  False      False  False
9       False  False  False      False  False
Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [8]:
#slicing & extracting data

##isolating columns

print(df['Radio'].head(20))    #one column
print(df[['Newspaper','Sales']].head(20))   #multiple column

##isolating rows
print(df.index==15)

0     37.8
1     39.3
2     45.9
3     41.3
4     10.8
5     48.9
6     32.8
7     19.6
8      2.1
9      2.6
10     5.8
11    24.0
12    35.1
13     7.6
14    32.9
15    47.7
16    36.6
17    39.6
18    20.5
19    23.9
Name: Radio, dtype: float64
    Newspaper  Sales
0        69.2   22.1
1        45.1   10.4
2        69.3    9.3
3        58.5   18.5
4        58.4   12.9
5        75.0    7.2
6        23.5   11.8
7        11.6   13.2
8         1.0    4.8
9        21.2   10.6
10       24.2    8.6
11        4.0   17.4
12       65.9    9.2
13        7.2    9.7
14       46.0   19.0
15       52.9   22.4
16      114.0   12.5
17       55.8   24.4
18       18.3   11.3
19       19.1   14.6
[False False False False False False False False False False False False
 False False False  True False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False]

In [10]:
#using.loc to fetch rows
print(df.loc[12])
print(df.loc[9:16])
print(df.iloc[5])
print(df.iloc[8:12])

Unnamed: 0    13.0
TV            23.8
Radio         35.1
Newspaper     65.9
Sales          9.2
Name: 12, dtype: float64
    Unnamed: 0     TV  Radio  Newspaper  Sales
9           10  199.8    2.6       21.2   10.6
10          11   66.1    5.8       24.2    8.6
11          12  214.7   24.0        4.0   17.4
12          13   23.8   35.1       65.9    9.2
13          14   97.5    7.6        7.2    9.7
14          15  204.1   32.9       46.0   19.0
15          16  195.4   47.7       52.9   22.4
16          17   67.8   36.6      114.0   12.5
Unnamed: 0     6.0
TV             8.7
Radio         48.9
Newspaper     75.0
Sales          7.2
Name: 5, dtype: float64
    Unnamed: 0     TV  Radio  Newspaper  Sales
8            9    8.6    2.1        1.0    4.8
9           10  199.8    2.6       21.2   10.6
10          11   66.1    5.8       24.2    8.6
11          12  214.7   24.0        4.0   17.4

In [11]:
#dealing with missing values
##dropping missing values
data1=df.dropna()
print(data1.isnull().sum())
df.dropna(inplace=True,axis=0)
print(df.isnull().sum())

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64
Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [13]:
#replacing mean
mean_value=df['TV'].mean()
print(mean_value)
#replacing median
median_value=df['Radio'].median()
print(median_value)

147.0425
22.9

In [14]:
#renaming column
df.rename(columns={'Sales':'Sold'},inplace=True)
df.head(25)

    Unnamed: 0     TV  Radio  Newspaper  Sold
0            1  230.1   37.8       69.2  22.1
1            2   44.5   39.3       45.1  10.4
2            3   17.2   45.9       69.3   9.3
3            4  151.5   41.3       58.5  18.5
4            5  180.8   10.8       58.4  12.9
5            6    8.7   48.9       75.0   7.2
6            7   57.5   32.8       23.5  11.8
7            8  120.2   19.6       11.6  13.2
8            9    8.6    2.1        1.0   4.8
9           10  199.8    2.6       21.2  10.6
10          11   66.1    5.8       24.2   8.6
11          12  214.7   24.0        4.0  17.4
12          13   23.8   35.1       65.9   9.2
13          14   97.5    7.6        7.2   9.7
14          15  204.1   32.9       46.0  19.0
15          16  195.4   47.7       52.9  22.4
16          17   67.8   36.6      114.0  12.5
17          18  281.4   39.6       55.8  24.4
18          19   69.2   20.5       18.3  11.3
19          20  147.3   23.9       19.1  14.6
20          21  218.4   27.7       53.4  18.0
21          22  237.4    5.1       23.5  12.5
22          23   13.2   15.9       49.6   5.6
23          24  228.3   16.9       26.2  15.5
24          25   62.3   12.6       18.3   9.7

In [15]:
#value.counts()
df['Newspaper'].value_counts()

Newspaper
9.3     3
25.6    3
8.7     3
34.6    2
8.5     2
       ..
27.2    1
31.7    1
19.3    1
31.3    1
66.2    1
Name: count, Length: 172, dtype: int64