In [1]:
import pandas as pd
df=pd.read_csv(r"/KAG_conversion_data.csv")
print(df)

        ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
0      708746              916          103916  30-34      M        15
1      708749              916          103917  30-34      M        16
2      708771              916          103920  30-34      M        20
3      708815              916          103928  30-34      M        28
4      708818              916          103928  30-34      M        28
...       ...              ...             ...    ...    ...       ...
1138  1314410             1178          179977  45-49      F       109
1139  1314411             1178          179978  45-49      F       110
1140  1314412             1178          179979  45-49      F       111
1141  1314414             1178          179981  45-49      F       113
1142  1314415             1178          179982  45-49      F       114

      Impressions  Clicks       Spent  Total_Conversion  Approved_Conversion
0            7350       1    1.430000                 2                    1
1           17861       2    1.820000                 2                    0
2             693       0    0.000000                 1                    0
3            4259       1    1.250000                 1                    0
4            4133       1    1.290000                 1                    1
...           ...     ...         ...               ...                  ...
1138      1129773     252  358.189997                13                    2
1139       637549     120  173.880003                 3                    0
1140       151531      28   40.289999                 2                    0
1141       790253     135  198.710001                 8                    2
1142       513161     114  165.609999                 5                    2

[1143 rows x 11 columns]

In [2]:
print(df.head(10)) #top rows
print(df.tail(10))   #bottom rows

    ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
0  708746              916          103916  30-34      M        15
1  708749              916          103917  30-34      M        16
2  708771              916          103920  30-34      M        20
3  708815              916          103928  30-34      M        28
4  708818              916          103928  30-34      M        28
5  708820              916          103929  30-34      M        29
6  708889              916          103940  30-34      M        15
7  708895              916          103941  30-34      M        16
8  708953              916          103951  30-34      M        27
9  708958              916          103952  30-34      M        28

   Impressions  Clicks  Spent  Total_Conversion  Approved_Conversion
0         7350       1   1.43                 2                    1
1        17861       2   1.82                 2                    0
2          693       0   0.00                 1                    0
3         4259       1   1.25                 1                    0
4         4133       1   1.29                 1                    1
5         1915       0   0.00                 1                    1
6        15615       3   4.77                 1                    0
7        10951       1   1.27                 1                    1
8         2355       1   1.50                 1                    0
9         9502       3   3.16                 1                    0
        ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
1133  1314405             1178          179972  45-49      F       104
1134  1314406             1178          179973  45-49      F       105
1135  1314407             1178          179974  45-49      F       106
1136  1314408             1178          179975  45-49      F       107
1137  1314409             1178          179976  45-49      F       108
1138  1314410             1178          179977  45-49      F       109
1139  1314411             1178          179978  45-49      F       110
1140  1314412             1178          179979  45-49      F       111
1141  1314414             1178          179981  45-49      F       113
1142  1314415             1178          179982  45-49      F       114

      Impressions  Clicks       Spent  Total_Conversion  Approved_Conversion
1133       558666     110  162.639997                14                    5
1134      1118200     235  333.749994                11                    4
1135       107100      23   33.710001                 1                    0
1136       877769     160  232.590001                13                    4
1137       212508      33   47.690000                 4                    1
1138      1129773     252  358.189997                13                    2
1139       637549     120  173.880003                 3                    0
1140       151531      28   40.289999                 2                    0
1141       790253     135  198.710001                 8                    2
1142       513161     114  165.609999                 5                    2

In [3]:
print(df.info())  #quick way to look datatypes,missing values,data size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB
None

In [4]:
print(df.shape)   #no.of rows and columns
print(df.shape[0])  #no.of rows
print(df.shape[1])  #no.of columns

(1143, 11)
1143
11

In [5]:
print(df.columns)   #column names
print(list(df.columns))   #convert to list

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')
['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender', 'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion', 'Approved_Conversion']

In [6]:
#checking for missing values
print(df.isnull().head(15))
print(df.isna().sum())   #null values & adding

    ad_id  xyz_campaign_id  fb_campaign_id    age  gender  interest  \
0   False            False           False  False   False     False
1   False            False           False  False   False     False
2   False            False           False  False   False     False
3   False            False           False  False   False     False
4   False            False           False  False   False     False
5   False            False           False  False   False     False
6   False            False           False  False   False     False
7   False            False           False  False   False     False
8   False            False           False  False   False     False
9   False            False           False  False   False     False
10  False            False           False  False   False     False
11  False            False           False  False   False     False
12  False            False           False  False   False     False
13  False            False           False  False   False     False
14  False            False           False  False   False     False

    Impressions  Clicks  Spent  Total_Conversion  Approved_Conversion
0         False   False  False             False                False
1         False   False  False             False                False
2         False   False  False             False                False
3         False   False  False             False                False
4         False   False  False             False                False
5         False   False  False             False                False
6         False   False  False             False                False
7         False   False  False             False                False
8         False   False  False             False                False
9         False   False  False             False                False
10        False   False  False             False                False
11        False   False  False             False                False
12        False   False  False             False                False
13        False   False  False             False                False
14        False   False  False             False                False
ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
dtype: int64

In [8]:
#slicing & extracting data

##isolating columns

print(df['interest'].head(10))    #one column
print(df[['Impressions','age']].head(15))   #multiple column

##isolating rows
print(df.index==20)

0    15
1    16
2    20
3    28
4    28
5    29
6    15
7    16
8    27
9    28
Name: interest, dtype: int64
    Impressions    age
0          7350  30-34
1         17861  30-34
2           693  30-34
3          4259  30-34
4          4133  30-34
5          1915  30-34
6         15615  30-34
7         10951  30-34
8          2355  30-34
9          9502  30-34
10         1224  30-34
11          735  30-34
12         5117  30-34
13         5120  30-34
14        14669  30-34
[False False False ... False False False]

In [9]:
#using.loc to fetch rows
print(df.loc[12])
print(df.loc[10:16])
print(df.iloc[9])
print(df.iloc[6:9])

ad_id                  709038
xyz_campaign_id           916
fb_campaign_id         103965
age                     30-34
gender                      M
interest                   16
Impressions              5117
Clicks                      0
Spent                     0.0
Total_Conversion            1
Approved_Conversion         0
Name: 12, dtype: object
     ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
10  708979              916          103955  30-34      M        31
11  709023              916          103962  30-34      M         7
12  709038              916          103965  30-34      M        16
13  709040              916          103965  30-34      M        16
14  709059              916          103968  30-34      M        20
15  709105              916          103976  30-34      M        28
16  709115              916          103978  30-34      M        30

    Impressions  Clicks  Spent  Total_Conversion  Approved_Conversion
10         1224       0   0.00                 1                    0
11          735       0   0.00                 1                    0
12         5117       0   0.00                 1                    0
13         5120       0   0.00                 1                    0
14        14669       7  10.28                 1                    1
15         1241       0   0.00                 1                    1
16         2305       1   0.57                 1                    0
ad_id                  708958
xyz_campaign_id           916
fb_campaign_id         103952
age                     30-34
gender                      M
interest                   28
Impressions              9502
Clicks                      3
Spent                    3.16
Total_Conversion            1
Approved_Conversion         0
Name: 9, dtype: object
    ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
6  708889              916          103940  30-34      M        15
7  708895              916          103941  30-34      M        16
8  708953              916          103951  30-34      M        27

   Impressions  Clicks  Spent  Total_Conversion  Approved_Conversion
6        15615       3   4.77                 1                    0
7        10951       1   1.27                 1                    1
8         2355       1   1.50                 1                    0

In [10]:
#dealing with missing values
##dropping missing values
data1=df.dropna()
print(data1.isnull().sum())
df.dropna(inplace=True,axis=0)
print(df.isnull().sum())

ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
dtype: int64
ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
dtype: int64

In [11]:
#replacing mean
mean_value=df['Spent'].mean()
print(mean_value)
#replacing median
median_value=df['Impressions'].median()
print(median_value)

51.36065613141295
51509.0

In [12]:
#renaming column
df.rename(columns={'interest':'INTEREST'},inplace=True)
df.head(20)

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,INTEREST,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1
5,708820,916,103929,30-34,M,29,1915,0,0.00,1,1
6,708889,916,103940,30-34,M,15,15615,3,4.77,1,0
7,708895,916,103941,30-34,M,16,10951,1,1.27,1,1
8,708953,916,103951,30-34,M,27,2355,1,1.50,1,0
9,708958,916,103952,30-34,M,28,9502,3,3.16,1,0
10,708979,916,103955,30-34,M,31,1224,0,0.00,1,0
11,709023,916,103962,30-34,M,7,735,0,0.00,1,0
12,709038,916,103965,30-34,M,16,5117,0,0.00,1,0
13,709040,916,103965,30-34,M,16,5120,0,0.00,1,0
14,709059,916,103968,30-34,M,20,14669,7,10.28,1,1
15,709105,916,103976,30-34,M,28,1241,0,0.00,1,1
16,709115,916,103978,30-34,M,30,2305,1,0.57,1,0
17,709124,916,103979,30-34,M,31,1024,0,0.00,1,1
18,709179,916,103988,35-39,M,15,4627,1,1.69,1,0
19,709183,916,103989,35-39,M,16,21026,4,4.63,2,1

In [13]:
#value.counts()
df['Clicks'].value_counts()

Clicks
0      207
1      119
2       70
3       51
4       34
      ...
421      1
119      1
111      1
45       1
252      1
Name: count, Length: 183, dtype: int64